window {
    margin: 0px;
    border-radius: 12px;
    border: 2px solid #585b70;
    background-color: #1e1e2e;
}

#input {
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: #313244;
    color: #cdd6f4;
}

#inner-box {
    margin: 10px;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 5px;
    padding: 10px;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
}

#text {
    padding: 5px;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #45475a;
    border-radius: 8px;
}

#entry:selected #text {
    color: #f5e0dc;
}
